/* Created by Robins
   3rd Sept 2018
*/

.react-thumb-vertical {
  background-color: #4d4d4d;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  z-index: 99;
}
// .custome-scroll-div-container {
//   overflow-x: hidden;
//   overflow-y: scroll;
// }

// .scrollbar-container {
//   border-radius: 5px;
//   cursor: pointer;
//   // z-index: 99;
//   overflow: auto;
//   ::-webkit-scrollbar
//   /* width */
//   ::-webkit-scrollbar {
//     width: 5px;
//   }

//   /* Track */
//   ::-webkit-scrollbar-track {
//     background: #f1f1f1;
//   }

//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: #888;
//   }

//   /* Handle on hover */
//   ::-webkit-scrollbar-thumb:hover {
//     background: #555;
//   }
// }
